ul li {list-style:none; }
.total_lst{margin:0 -1px -1px 0;
           padding:0 0 0 0;
            display:-webkit-box;
            display:-webkit-flex;
            display:-moz-box;display:-ms-flexbox;
            display:flex;-webkit-flex-wrap:wrap;
            -ms-flex-wrap:wrap;flex-wrap:wrap}
.total_lst li{display:-webkit-box
                ;display:-webkit-flex;
                display:-moz-box;display:-ms-flexbox;display:flex;
                -webkit-box-pack:justify;
                -webkit-justify-content:space-between;
                -moz-box-pack:justify;
                -ms-flex-pack:justify;
                justify-content:space-between;
                -webkit-box-align:center;
                -webkit-align-items:center;
                -moz-box-align:center;
                -ms-flex-align:center;
                align-items:center;
                width:50%;
                min-height:34px;
                padding:0 10px 0 15px;



                border:1px solid #eee;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                background:white}
img{width:100%}
.total_lst li:nth-child(2n-1){padding:0 15px 0 10px}
.total_lst li:last-child{  width:100%; font-color:white;}
.total_lst li:first-child{  width:100%;}
.total_lst li div:first-child{padding-top:1px;font-size:13px;line-height:12px;color:#878787}
li.evote div:first-child{padding-top:3px}

.total_lst li div:first-child em{display:block;font-size:11px;color:#aaa}
.total_lst li div:first-child ~ span{display:block;text-align:left;font-size:14px;color:#000}

.title{
    background:white;
    border:1px solid #eee;
    padding:0;
}

.titleid{
    width:100%;
    padding-top:10px;
    padding-bottom:10px
}
.orderdiv{
    padding-top:10px;
    padding-bottom:10px;
    background:white;
    border:1px solid #eee;
    margin-right:-1px;
}
.orderdiv p1{

}
.orderdiv input{
    float:right;
    margin-right:10px;
    }

.imgdiv{
    width:30%;
}

.imgdiv img {
    width:80%;
    margin-top:10px;
    margin-right:30px;

}

.row{display:-ms-flexbox;display:flex;-ms-flex:1 0 100%;flex:1 0 100%;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-1px}

.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,{position:relative;width:100%;padding-right:15px;padding-left:15px}

.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}

.hoga {
    width:100%;
    border-collapse:collapse;
    background:white;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    margin-right:-1px;
}
.hoga thead{
    border-bottom:1px solid #eee;
}
.hoga tfoot tr td span{
    color:#ccc;
    font-size:10px;
}

.hoga tfoot {
    border-top:1px solid #eee;
}
.hoga tfoot tr td:first-child{
    color:blue;
}
.hoga tfoot tr td:last-child{
    color:red;
}
.hoga tr td:nth-child(2){
    border-right:1px solid #eee;
    border-left:1px solid #eee;
}
.hoga tr td{
    padding:5px 0 5px 0;
}
 .grp {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #ccc;
}
.f_down .grp div{
    background:#81DAF5;
    display:block;
    height:100%;
    color:blue;
    line-height:25px;
    float:right;
    text-align:right;
    direction: rtl;
}
.hoga .f_down td:nth-child(2){
    background:#81DAF5;
    color:blue;
}

.f_up .grp div{
    background:#fceae9;
    display:block;
    height:100%;
    color:red;
    line-height:25px;
    text-align:left;
}
.hoga .f_up td:nth-child(2){
    background:#fceae9;
    color:red;
}
.orderbox{
    background:white;
    border:1px solid #eee;
}
.orderbox input{
    text-align:center;
    border-radius: 0;
    box-shadow: none;
    height:40px;
    background:white;
}
.updown{
    margin-top:8px;
    margin-bottom:5px;
    padding-top:7px;
    text-align:center;
    border: 1px solid;
    background:white;
    height:31px;
}

#buybox .orderbtn {
    background:#F63E3E;

}
#sellbox .orderbtn {
    background:#206CFB;
}


.orderbtn {
    border: 1px solid;
    color:white;
    height:50px;
    line-height:50px;
}

.headerspace{
    height: 60px;
}
.header {
    width:100%;
    top:0;
    position:fixed;
    z-index:999;

}
.header > p {
text-align:center;
 font-size:10px;
  margin-top:-10px;
}
.footerspace {
    height:60px;
}
.footer {
width:100%;
    bottom:0;
    position:fixed;
    z-index:999;
}


.toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .70);
    color: #fff;
    z-index: 10000;
    margin-bottom:100px;
}

.toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}
.footer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;

}
.footer > ul:after{
    content:'';
    display: block;
    clear:both;
}
.footer > ul >li {
    float: left;
    width:20%;
}

.footer > ul > li > div {
     display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.footer > ul > li div.active {
    background-color: #4CAF50;
    color: white;
}
.footer > ul > li div:hover:not(.active) {
    background-color: #555;
    color: white;
}


.thispage {
    background:#555555;
}

