  #content table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  #paging table{
     width: 100%;
  }

  #content th,  #content td {
    border-bottom: 1px solid #444444;
    text-align:center;
  }

  #content thead th{
  background : #E0ECF8
  }

  #content tbody td{
  background : #FFFFFF
  }
