#footerspace {
    height:80px;
}
#footer {
width:100%;
    bottom:0;
    position:fixed;
    z-index:999;
}
#headerspace{
    height: 60px;
}
#header {
    width:100%;
    top:0;
    position:fixed;
    z-index:999;

}

#header > p {
    text-align:center;
    font-size:10px;
    margin-top:-10px;
}