<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        {% static "" as baseUrl %}
        <title>HD주식</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="mobile portfolio, mobile portfolio site">
        <meta name="author" content="kimsh">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static 'js/jquery-1.8.3.min.js'%}"></script>
        <script src="{% static 'js/jquery.mobile-1.2.0.min.js'%}"></script>
        <link href="{% static 'css/jquery.mobile.structure-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/jquery.mobile.theme-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/jquery.mobile-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/photoswipe.css'%}" rel="stylesheet">
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/detail.css'%}" rel="stylesheet">
        <script src="{% static 'js/script.js'%}"></script>
        <script src="{% static 'js/settings.js'%}"></script>
        <script src="{% static 'js/klass.min.js'%}"></script>
        <script src="{% static 'js/code.photoswipe.jquery-3.0.5.min.js'%}"></script>
    </head>

    <body>

            <div class="headerspace"></div>
            <div data-role="header" class="header">
                <h1>HD주식</h1>
            </div>
            <div data-role="content">
                <form method="post" name="form1" >
                 {% csrf_token %}
                    <table width="100%">
                        <thead>
                            <tr>
                                <th colspan="2">주식계좌 생성</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr><th colspan="2"><input type="button" onclick="createaccount()" value="계좌생성">
                            </th></tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <th>계좌 비밀번호</th>
                                <td><input type="password" name="pw1" id="pw1" maxlength="30" minlength="3"></td>
                            </tr>
                            <tr>
                                <th>비밀번호 확인</th>
                                <td><input type="password" name="pw2" id="pw2" maxlength="20" minlength="3"></td>
                            </tr>
                            <tr>
                                <th>계좌별칭</th>
                                <td><input type="text" name="name" id="name" maxlength="20" minlength="3"></td>
                            </tr>
                            <tr>
                                <td id="msg" colspan="2" style="color: red">{{msg}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>
            <div class="footerspace"></div>
            <div data-role="footer" class="footer">
                <h2>HD금융</h2>
                <p class="copyright">&copy; Copyright 2020</p>
            </div>

    </body>
<script>
$(document).ready(function(){


});
function createaccount(){
        pw1 = $('#pw1').val()
        pw2 = $('#pw2').val()
        if(pw1 == pw2){

            document.form1.action="createaccount"
            document.form1.submit()

        }else{
            $('#msg').text('비밀번호가 일치하지 않습니다.')
        }



    }
</script>
</html>