<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        {% static "" as baseUrl %}
        <title>HD주식</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="mobile portfolio, mobile portfolio site">
        <meta name="author" content="kimsh">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/jquery-1.8.3.min.js'%}"></script>
        <script src="{% static 'js/jquery.mobile-1.2.0.min.js'%}"></script>
        <link href="{% static 'css/jquery.mobile.structure-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/jquery.mobile.theme-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/jquery.mobile-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/photoswipe.css'%}" rel="stylesheet">
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/table.css'%}" rel="stylesheet">
        <link href="{% static 'css/templates.css'%}" rel="stylesheet">
        <script src="{% static 'js/script.js'%}"></script>
        <script src="{% static 'js/settings.js'%}"></script>
        <script src="{% static 'js/klass.min.js'%}"></script>
        <script src="{% static 'js/code.photoswipe.jquery-3.0.5.min.js'%}"></script>
    </head>

    <body>


          <div class="headerspace"></div>
            <div data-role="header" class="header">
                <h1>HD주식</h1>
            </div>

            <div data-role="content" id="content">
                <div class="contentdiv">주식지갑</div>
                <ul class="total_lst">
                    <li style="padding:0px 15px 0px 15px"><div>평가손익</div><span class="realupdown" style="color:{{realcolor}}">{{realupdown}}   {{realupdownper}}%</span></li>
                    <li style="padding:0px 15px 0px 15px"><div>평가금액</div><span class="realprice" >{{realprice}}</span></li>

                </ul>

                <div class="outer">
                  <div class="inner">
                    <table>
                        <thead>
                            <th class="fix">종목명</th>
                            <th>평가손익</th>
                            <th>수익률</th>
                            <th>평가금액</th>
                            <th>매수금액</th>
                            <th>보유수량</th>
                            <th>가능수량</th>
                            <th>현재가</th>
                            <th>전일대비</th>
                            <th>등락률</th>
                            <th></th>
                        </thead>
                        <tbody>
                        {% for e in sw %}
                            <tr>
                              <td class="fix">{{e.name}}</td>
                              <td style="color:{{e.nowcolor}}">{{e.value}}</td>
                              <td style="color:{{e.nowcolor}}">{{e.nowpriceper}}</td>
                              <td style="color:{{e.nowcolor}}">{{e.nowprice}}</td>
                              <td>{{e.sw_price}}</td>
                              <td>{{e.sw_ju}}</td>
                              <td>{{e.sw_orderju}}</td>
                              <td style="color:{{e.color}}">{{e.price}}</td>
                              <td style="color:{{e.color}}">{{e.priceupdown}}</td>
                              <td style="color:{{e.color}}">{{e.priceper}}</td>
                              <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                  </div>
                </div>
                <div>
                    옆으로 넘겨보세요!
                </div>
            </div>

        <div class="footerspace"></div>
            <div data-role="footer" class="footer">
                <ul>
                    <li>
                        <div class="main">
                            메인
                        </div>
                    </li>
                    <li>
                        <div class="chart">
                            차트
                        </div>
                    </li>
                    <li>
                        <div class="thispage">
                            지갑
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            주문
                        </div>
                    </li>
                    <li>
                        <div class="menu">
                            이체
                        </div>
                    </li>
                </ul>
            </div>

<input type="hidden" id="page" name="page" value="{{page}}">
    </body>
<script>


$('.main').click(function(){
    location.href = "home"
})

$('.chart').click(function(){
    location.href = "stockchart?sosok=0&page=1"
})

$('.wallet').click(function(){
    location.href = "stockwallet"
})

$('.order').click(function(){
    location.href = "stockorder"
})




playAlert = setInterval(function() {

   $.ajax({ url:'stockwallet_ajax',
    success:function(data){
        data= data.replace(/&#x27;/gi,'\'').replace(/&quot;/gi,'"')
        data_json = JSON.parse(data)
        realprice = 0
        buyprice = 0
        $('tbody > tr').each(function(index, value) {
            realprice += data_json[index].nowprice
            buyprice += $(this).children('td:nth-child(5)').text().replace(/,/g,'')*1
            value = data_json[index].value+""
            nowprice =data_json[index].nowprice+""

            $(this).children('td:nth-child(2)').text(value.replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            $(this).children('td:nth-child(3)').text(data_json[index].nowpriceper)
            $(this).children('td:nth-child(4)').text(nowprice.replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            $(this).children('td:nth-child(8)').text(data_json[index].price)
            $(this).children('td:nth-child(9)').text(data_json[index].priceupdown)
            $(this).children('td:nth-child(10)').text(data_json[index].priceper)
            $(this).children('td:nth-child(2)').css("color",data_json[index].nowcolor)
            $(this).children('td:nth-child(3)').css("color",data_json[index].nowcolor)
            $(this).children('td:nth-child(4)').css("color",data_json[index].nowcolor)
            $(this).children('td:nth-child(8)').css("color",data_json[index].color)
            $(this).children('td:nth-child(9)').css("color",data_json[index].color)
            $(this).children('td:nth-child(10)').css("color",data_json[index].color)

        });
        realupdown = realprice - buyprice
        realcolor = "black"
        if(realupdown > 0){
            realcolor = "red"
        }else if(realupdown < 0){
            realcolor = "blue"
        }
        realpriceper = ((realupdown/buyprice)*100).toFixed(2)

        realprice = realprice+""
        realupdown = realupdown+""
        realpriceper = realpriceper+""
        if(realpriceper == 'NaN'){
            realpriceper = "0.00"
        }
        $('.realupdown').text(realupdown.replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'  '+realpriceper+"%")
        $('.realupdown').css("color",realcolor)
        $('.realprice').text(realprice.replace(/\B(?=(\d{3})+(?!\d))/g, ","))

    },error : function(xhr, status, error) {

                 alert(error);

           }



    })

}, 4000);




</script>

</html>