<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        {% static "" as baseUrl %}
        <title>HD주식 로그인</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="mobile portfolio, mobile portfolio site">
        <meta name="author" content="kimsh">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/jquery-1.8.3.min.js'%}"></script>
        <script src="{% static 'js/jquery.mobile-1.2.0.min.js'%}"></script>
        <link href="{% static 'css/jquery.mobile.structure-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/jquery.mobile.theme-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/jquery.mobile-1.2.0.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/photoswipe.css'%}" rel="stylesheet">
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/table.css'%}" rel="stylesheet">
        <link href="{% static 'css/templates.css'%}" rel="stylesheet">
        <script src="{% static 'js/script.js'%}"></script>
        <script src="{% static 'js/settings.js'%}"></script>
        <script src="{% static 'js/klass.min.js'%}"></script>
        <script src="{% static 'js/code.photoswipe.jquery-3.0.5.min.js'%}"></script>
    </head>

    <body>


        <div id="headerspace"></div>
            <div data-role="header" id="header">
                <h1>HD주식</h1>
            </div>
        <div style="width:170px; padding-left:20px">

            <select id="sosok" name="sosok">
                {% if sosok == '0' %}
                <option value="0" selected>코스피</option>
                <option value="1">코스닥</option>
                {% else %}
                <option value="0">코스피</option>
                <option value="1" selected>코스닥</option>

                {% endif %}


            </select>
            <input type="hidden" id="so" value="{{sosok}}">
        </div>
            <div data-role="content" id="content" style="overflow-x:auto">


            </div>
        <div id="paging" >

        </div>
        <div id="footerspace"></div>
            <div data-role="footer" id="footer">
                <h2>HD금융</h2>
                <p class="copyright">&copy; Copyright 2020</p>
            </div>

<input type="hidden" id="page" name="page" value="{{page}}">
    </body>
<script>
   var sosok = $('#sosok').val()
   if(sosok == ""){
   sosok='0'
   }

   var page = $('#page').val()
 if(page ==""){
 page=1

 }
  $.ajax({ url:'stockchart_ajax?page='+page+'&sosok='+sosok,
    success:function(data){
        var result = data;
        var table = result.replace(/&lt;/gi,'<').replace(/&gt;/gi, '>').replace(/&quot;/gi, '\"').replace(/&amp;/gi,"&").replace('border="1"',"")
        $("#content").html(table);
        $("table").attr("style","overflow-x:auto;")
        $('tbody > tr ').each(function(index,item){
           var i = $(item).children('td:nth-child(5)').text()
           if(i.indexOf("+") > -1){
           $(item).find('td').attr("style","color:red;")
           }
           if(i.indexOf("-") > -1){
           $(item).find('td').css('color','blue')
           }





        })
        $('#content > table > tbody > tr').on('click',function(){
        name = $(this).children('td:nth-child(2)').text()
         location.href = 'stockdetail?name='+name+'&sosok='+sosok
})


     }
     })

    $.ajax({ url:'page_ajax?page='+page+'&sosok='+sosok,
    success:function(data){
        var result = data
        var pages = result.replace(/&lt;/gi,'<').replace(/&gt;/gi, '>').replace(/&quot;/gi, '\"').replace(/&amp;/gi,"&")
        console.log(typeof(pages))
        $('#paging').html(pages)
        }
        })


    $("#sosok").change(function(){
    var sosok = $('#sosok').val()
    location.href = "stockchart?sosok="+sosok+"&page=1"
})




</script>

</html>